.container {
  color: #5a6275;
  border: 2px dotted #596aca;
  max-width: 60%;
  text-align: center;
  font-family: "Rubik Marker Hatch", cursive;
}
.current {
  font-size: 52px;
}
.today {
  font-size: 40px;
  color: #596aca;
  margin-top: 10px;
}
.time {
  font-size: 28px;
  margin-top: 10px;
}
.emoji-temprature {
  margin: 20px;
  font-size: 36px;
}
.describtion {
  font-size: 24px;
}
.humidity-temp {
  margin: 20px;
  font-size: 24px;
  color: #596aca;
}
.days {
  font-size: 30px;
  margin-top: 30px;
}

.blue {
  color: #596aca;
}

.twoDegrees {
  font-size: 20px;
  position: relative;
  bottom: 20px;
}
form {
  text-align: left;
  margin: 20px 20px 30px 100px;
}
input {
  border: dotted;
  border-radius: 50px;
  text-align: center;
}
.btn {
  border: none;
  padding: 3px;
}
